:root {
    --blue: rgb(9, 9, 192);
    --font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
}
p {
    font-size: 18px;
    margin: 3%;
   
}
h1 {
    font-size: 30px;
    color: var(--blue);
    font-family: var(--font);
}

.header {
    height: 100px;
    padding: 10px;
    font-family: var(--font);
    background-color: antiquewhite;
    color: var(--blue);
}
.header h1 {
    margin-top: 50px;
    display: flex;
    font-size: 60px;
}

.header nav {
    margin-top: -50px;
    float: right;
    font-family: var(--font);
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}
.header nav li {
    display: inline-flex;
    margin-left: 20px;
}

.about-me {
    margin: 100px;
    font-size: 24px;
    font-family:var(--font);
    background-color: white;
    color: var(--blue);
    border: double darkblue;
    
}


.space {
    height: 100px;
    width: 100%;
    background-image: url("../images/blueswirl.jpeg");
    background-size: cover;
    background-position: center;
    
}

.space1 {
    height: 60px;
    width: auto;

}

.break {
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-item {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}