* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aquamarine;
}

.header {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    color: antiquewhite;
}
.header h1 {
    display: flex;
    font-size: 60px;
}

.header nav {
    padding-top: 10px;
    margin: auto;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}
.header nav li {
    display: inline-flex;
    margin-left: 20px;
}

.about-me {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
}